

.knop {
  text-align: center;
  color: #FFFFFF;
  position: fixed;
  bottom: 59px;
  background-color: black;
  width: 346px;
  height: 70px;
  left: 50%;
  margin-left: -173px;
}
#copy-im {
  left: -17px;
  width: 89px;
  position:  relative;
  top: -6px;
}
#bot-copy {
  bottom: 65%;
  left: 104%;
  position: relative;
  width: 59px;
  height: 84px;
}
#bot {
  top: 25%;
  position: relative;
  font-size: 22px;
}
#text {
  max-width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  margin: -8px;
  font-size: 24px;
  height: 143px;
  top: 549px;
}
[type="checkbox"] {
  color: white;
}
.check {
  color: white;
  font-size: 20px;
  position: static;
}
body {
  background-color: #151515;
}
@font-face {
  font-family: comic;
  src: url(comic.ttf);
}
div {
  font-family: comic;
}
::selection {
  background: #F2F2F2;
  color: #333333;
}
A {
  text-decoration: none;
}



@keyframes bounceIn {
  from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
div {
  animation-name: bounceIn;
}
.check {}
div#b_ch {
  color: white;
  font-size: 21px;
  bottom: 27px;
  left: 50%;
  margin-left: -98.771px;
  position: fixed;
}
input#b {
  width: 55px;
  font-size: 18px;
}
.upr {}




/*@media(max-width : 720px) {

  .knop {
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    bottom: 59px;
    background-color: black;
    width: 376px;
    margin-left: -188px;
    height: 73px;
    left: 50%;
  }
  #copy-im {
    width: 107px;
  }
  #bot-copy {
    bottom: 5%;
    left: 80%;
    position: absolute;
  }
  #bot {
    font-size: 27px;
    top: 20%;
    position: relative;
  }
  #text {
    max-width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    margin: -8px;
    font-size: 24px;
    height: 143px;
    top: 578px;
  }
  [type="checkbox"] {
    color: white;
  }
  .check {
    color: white;
    font-size: 24px;
    position: static;
  }
  body {
    background-color: #151515;
  }
  @font-face {
    font-family: comic;
    src: url(comic.ttf);
  }
  div {
    font-family: comic;
  }
  ::selection {
    background: #F2F2F2;
    color: #333333;
  }
  A {
    text-decoration: none;
  }



  @keyframes bounceIn {
    from, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  div {
    animation-name: bounceIn;
  }
  .check {}
  div#b_ch {
    color: white;
    font-size: 15px;
    bottom: 27px;
    left: 50%;
    margin-left: -81px;
    position: fixed;
  }
  input#b {
    width: 50px;
  }
  .upr {}

}*/