
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #fff;
    background-color: #fff;
}
::-webkit-scrollbar{
    width:8px;
    height: 8px;
}
::-webkit-scrollbar-track{
   border-width:4px solid #fff;
}
::-webkit-scrollbar-track:hover{
     border-width:4px solid #fff;
}
*{
    font-size: 13px;
}
input{
    font-family: comic;
    background-color: #262626;
    color: #fff;
    border: 0px;
    border-bottom: 2px #fff solid;
}
.button{
    position: relative;
    user-select: none;
    margin-top: 2%;
    background-color: #2c313c;
    color: #f4ac5f;
    font-family: 'Comfortaa', cursive;
    padding: 0.5%;
    border: 0;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0px 3px 0 #0b0d11;
    font-weight: 800;
    text-shadow: 0 0 9px #000;
    cursor: pointer;
}
.name{
    position: relative;
    text-align: center;
    margin: 0;
    color: #fff;
    padding-top: 0.5%;
    font-size: 1.2em;
}
#description{
    display: block;
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    text-align: center;
    height: 30%;
    color: #d7d7d7;
    font-size: 103%;
    padding-left: 16%;
    padding-right: 16%;
    line-height: 1.7;
}
#ability,#level{
    position: relative;
}
#ability{
    font-weight: 700;
}
#level{
    
}
#info{
    transition: opacity 0.2s;
    transition-timing-function: cubic-bezier(0, 0.48, 0.26, 0.99); 
    background-color: #000;
    opacity: 0;
    padding: 1%;
    text-align: center;
    position: absolute;
}

#can{
	position: absolute;
	height: 100%;
	background-color: #1a1d26;
}
div{
    text-shadow: 0px 0px 18px #000, 0px 0px 18px #000;
	font-family: 'Comfortaa', cursive;
}

::selection {
	background-color: rgba(255,255,255,0.3);
	color: #fff;
}

body{
	cursor: url(blakes\cursor.png),url(blakes\cursor2.png), pro;
	image-rendering: pixelated;
	color: #fff;
	margin: 0;
	background-color: #1a1d26;
}





