
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #fff;
    background-color: #fff;
}
::-webkit-scrollbar{
    width:8px;
    height: 8px;
}
::-webkit-scrollbar-track{
   border-width:4px solid #fff;
}
::-webkit-scrollbar-track:hover{
     border-width:4px solid #fff;
}
#attempts{
	color: #489159;
	font-size: 43px;
}

#info{
	color: #489159;
	font-size: 43px;
	bottom: 0px;
	right: 0px;
	position: fixed;
	line-height: 49px;
	margin-bottom: 14px;
}
#text{
	color: #489159;
	font-size: 43px;
	margin-bottom: -17px;
}
.line{
	color: #489159;
	font-size: 43px;
	margin-bottom: -10px;
}
#word{
	color: #489159;
	font-size: 43px;
	margin-bottom: -20px;
	text-decoration:  underline;
	text-decoration-color:  #fff;
}
#word:hover{
	color: #fff;
	font-size: 43px;
	margin-bottom: -20px;
}

@font-face{
	font-family: comic;
	src:url(comic.ttf);

}

div{
	
	/*user-select: none;*/
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	font-family: comic;
}

::selection {
	background: rgba(0,0,0,0);
	color: #fff;

}

body{
	cursor: url(blakes\cursor.png),url(blakes\cursor2.png), pro;
	/*overflow: hidden;*/
	image-rendering: pixelated;
	color: #fff;
	background-color: #151b16;
	height: 100%;
	padding: 16px;
	
}





