

@font-face{
	font-family: comic;
	src:url(https://blacktiger54.github.io/comic.otf);

}
body{
	font-family: comic;
}

::selection {
  transition: background 0.3s;
  transition-timing-function: cubic-bezier(0.16, 0.79, 0.58, 1.54);

  border-bottom: 2px #fff solid;
	background:#000000;
	color: #F6F6F6;

}




A {
  text-decoration: none;
	
}
.date{
  color: #808080;
  position: relative;
  margin-top: -30px;
}
.name{

}
.preview{
  border: 3px solid #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 14px #000;
  width: 168px;
}

#main{
  background-color: #252525;
  border-radius: 4px;
  width: 64%;
  margin-left: 20%;
  display: block;
  color: #fff;
  padding: 10px;
}
.buy:hover{
  top: 5px;
  background: #0F0F0F;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, .9333333333333333);
  color: #fff;
}
.buy{
  transition: top 0.3s;
  transition-timing-function: cubic-bezier(0.16, 0.79, 0.58, 1.54);
  position: relative;
  margin-bottom: -2%;
  background: #fff;
  float: left;
  width: 28%;
  top: 12px;
  text-align: center;
  border-radius: 5px;
  padding: 7px;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.buy:active{
  background: #191919;
  top: 8px;
}
.price{
  display: inline-table;
  position: relative;
  margin-right: 9px;
  font-size: 30px;
  top: -8px;
}
.junk{
  color: #717171;
  text-align: center;
  border-top: 2px #717171 solid;
  user-select: none;
}
.space{
  height: 17px;
  user-select: none;
}
.line{
  display: block;
  width: -webkit-fill-available;
  border-bottom: 3px solid #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 33px #000;
  padding: 10px;
  margin-bottom: 39px;
}
.item{
  text-shadow: 0 0 0px #000;
  user-select: none;
  transition: margin-left 0.3s;
  transition-timing-function: cubic-bezier(0.16, 0.79, 0.58, 1.54);
  margin-bottom: 6px;
  background-color: #353535;
}
.item:hover{
  /*color: #EF9;*/
  margin-left: 10px;
  text-shadow: -2px 2px 1px #000;
  cursor: pointer;
}
.item:active{
  margin-left: 10px;
  text-shadow: -2px 2px 1px #000;
  cursor: pointer;
  background-color: #252525;
}

#sidebar{
  color: #fff;
  width: 17%;
  background-color: #252525;
  padding: 5px;
  /* text-shadow: 0 0 15px #fff; */
  border-radius: 4px;
  position: fixed;
  user-select: none;
}

#foot{
  background-color: #000;
  color: #FF615B;
  font-size: 10px;
  position: fixed;
  bottom: 0px;
}

#enter{
  font-family: comic;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  width: 50%;
  font-size: 100px;
}

#topbar{
  width: -webkit-fill-available;
  color: #fff;
}

#link  width: -webkit-fill-available;
  margin: 0px;
  font-size: 30px;
}













	@keyframes bounceIn {
  from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    
  }

 

  to {
    opacity: 1;
    
  }
}

div {
  animation-name: bounceIn;
}

